<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal login-form float-left">
  <div class="form-group row" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
    <label for="emailId" class="col-md-12 col-sm-12 control-label">Sign in with your e-mail address <span class="red-color">*</span></label>
    <div class="col-sm-12">
      <input #emailInput [formControl]="email" type="email" class="login-input form-control" id="emailId" placeholder="" (keyup)="clearErrorMessage()" (paste)="clearErrorMessage()">
    </div>
  </div>
  <div class="row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
    <label for="loginPassword" class="col-md-12 col-sm-12 control-label">Password <span class="red-color">*</span></label>
    <div class="col-sm-12 margin-bottom-20px">
      <input [formControl]="password" type="password" class="login-password form-control" id="loginPassword" placeholder="" (keyup)="clearErrorMessage()">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12 col-md-12">
      <button [disabled]="!form.valid || submitted" type="submit" class="btn btn-default btn-auth">Sign in to planHub</button>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 padding-zero">
    <label class="field-require-label  padding-top-16px"><span class="red-color">*</span> Indicates field is required</label>
  </div>
</form>
<div class="login-text">
  <a (click)="redirectToRegisterPage()" class="auth-link float-left">Don’t have an account yet? Get Started</a>
  <a [routerLink]="['/forgot']" class="auth-link float-right">Forgot password?</a>
</div>
